# NCES DISTRICT LEVEL CLEANING NOTEBOOK

**v2 UPDATE**  
- Add `Locale [District]` to 'nces_district_2019.csv' and 'nces_district_2021.csv'

***Import libraries:***

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


# pd.options.display.max_rows = 4000
# pd.options.display.max_columns = 200

In [2]:
# read in the csv file and treat –, ‡ as NaN
df_district21 = pd.read_csv('nces_district_2021.csv', header = 3, na_values=["–", "‡"])

In [3]:
print('Shape:', df_district21.shape)
df_district21.head()

Shape: (1239, 12)

,Agency Name,State Name [District] Latest available year,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2020-21,County Number [District] 2020-21,Total Number Operational Schools [Public School] 2020-21,Total Number of Public Schools [Public School] 2020-21,State Agency ID [District] 2020-21,Total Students All Grades (Excludes AE) [District] 2020-21,Full-Time Equivalent (FTE) Teachers [District] 2020-21,Total Staff [District] 2020-21,Locale [District] 2020-21
0,A W BROWN LEADERSHIP ACADEMY,Texas,4800095.0,Dallas County,48113.0,2,2,TX-057816,1383,76.79,170.87,11-City: Large
1,A+ ACADEMY,Texas,4800203.0,Dallas County,48113.0,2,2,TX-057829,1456,92.87,213.39,11-City: Large
2,A+ UNLIMITED POTENTIAL,TEXAS,4801453.0,Harris County,48201.0,1,1,TX-101871,152,6.91,13.61,11-City: Large
3,ABBOTT ISD,Texas,4807380.0,Hill County,48217.0,1,2,TX-109901,274,25.13,41.72,42-Rural: Distant
4,ABERNATHY ISD,Texas,4807410.0,Hale County,48189.0,3,4,TX-095901,810,72.55,124.29,31-Town: Fringe

In [4]:
list(df_district21.columns)

['Agency Name',
 'State Name [District] Latest available year',
 'Agency ID - NCES Assigned [District] Latest available year',
 'County Name [District] 2020-21',
 'County Number [District] 2020-21',
 'Total Number Operational Schools [Public School] 2020-21',
 'Total Number of Public Schools [Public School] 2020-21',
 'State Agency ID [District] 2020-21',
 'Total Students All Grades (Excludes AE) [District] 2020-21',
 'Full-Time Equivalent (FTE) Teachers [District] 2020-21',
 'Total Staff [District] 2020-21',
 'Locale [District] 2020-21']

In [5]:
df_district21[df_district21['State Agency ID [District] 2020-21'].isna()]

,Agency Name,State Name [District] Latest available year,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2020-21,County Number [District] 2020-21,Total Number Operational Schools [Public School] 2020-21,Total Number of Public Schools [Public School] 2020-21,State Agency ID [District] 2020-21,Total Students All Grades (Excludes AE) [District] 2020-21,Full-Time Equivalent (FTE) Teachers [District] 2020-21,Total Staff [District] 2020-21,Locale [District] 2020-21
1235,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#re-name the columns for simplicity and merging later
district_columns21 = ['Agency Name', \
                    'State', \
                    'NCES Agency ID', \
                    'County Name', \
                    'County #', \
                    'Total Operational Public Schools 2020-2021', \
                    'Total Public Schools 2020-2021', \
                    'State Agency ID', \
                    'Total Students 2020-2021', \
                    'FTE Teachers 2020-2021', \
                    'Total Staff 2020-2021',
                     #v2 update
                     'Locale 2020-2021']

# read in the csv file and treat –, ‡ as NaN
# – indicates that the data are missing.
# ‡ indicates that the data do not meet NCES data quality standards.
# we will replace † with 0 as † indicates that the data are not applicable.
df_district21 = pd.read_csv('nces_district_2021.csv', header = 3, names = district_columns21, na_values=["–", "‡"])
df_district21.replace('†', 0, inplace=True)

In [7]:
print('Shape:', df_district21.shape)
df_district21.head()

Shape: (1239, 12)

,Agency Name,State,NCES Agency ID,County Name,County #,Total Operational Public Schools 2020-2021,Total Public Schools 2020-2021,State Agency ID,Total Students 2020-2021,FTE Teachers 2020-2021,Total Staff 2020-2021,Locale 2020-2021
0,A W BROWN LEADERSHIP ACADEMY,Texas,4800095.0,Dallas County,48113.0,2,2,TX-057816,1383,76.79,170.87,11-City: Large
1,A+ ACADEMY,Texas,4800203.0,Dallas County,48113.0,2,2,TX-057829,1456,92.87,213.39,11-City: Large
2,A+ UNLIMITED POTENTIAL,TEXAS,4801453.0,Harris County,48201.0,1,1,TX-101871,152,6.91,13.61,11-City: Large
3,ABBOTT ISD,Texas,4807380.0,Hill County,48217.0,1,2,TX-109901,274,25.13,41.72,42-Rural: Distant
4,ABERNATHY ISD,Texas,4807410.0,Hale County,48189.0,3,4,TX-095901,810,72.55,124.29,31-Town: Fringe

In [8]:
temp=[c + ': ' + str(df_district21[c].isna().sum()) for c in df_district21 if df_district21[c].isna().any()]
temp

['State: 4',
 'NCES Agency ID: 4',
 'County Name: 4',
 'County #: 4',
 'Total Operational Public Schools 2020-2021: 4',
 'Total Public Schools 2020-2021: 4',
 'State Agency ID: 4',
 'Total Students 2020-2021: 5',
 'FTE Teachers 2020-2021: 7',
 'Total Staff 2020-2021: 7',
 'Locale 2020-2021: 4']

In [9]:
df_district21['District #'] = df_district21['State Agency ID'].str[3:]

In [10]:
df_district21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Agency Name                                 1239 non-null   object
 1   State                                       1235 non-null   object
 2   NCES Agency ID                              1235 non-null   float64
 3   County Name                                 1235 non-null   object
 4   County #                                    1235 non-null   float64
 5   Total Operational Public Schools 2020-2021  1235 non-null   object
 6   Total Public Schools 2020-2021              1235 non-null   object
 7   State Agency ID                             1235 non-null   object
 8   Total Students 2020-2021                    1234 non-null   object
 9   FTE Teachers 2020-2021                      1232 non-null   object
 10  Total Staff 2020-2021                       1232 non-null   object
 11  Locale 2020-2021                            1235 non-null   object
 12  District #                                  1235 non-null   object
dtypes: float64(2), object(11)
memory usage: 126.0+ KB

In [11]:
num_cols21 = ['Total Public Schools 2020-2021', \
                    'Total Operational Public Schools 2020-2021', \
                    'Total Students 2020-2021', \
                    'FTE Teachers 2020-2021', \
                    'Total Staff 2020-2021']

for col in num_cols21:
    df_district21[col] = df_district21[col].astype(str)
    df_district21[col] = df_district21[col].map(lambda x: x.lstrip('="').rstrip('"'))
    df_district21[col] = df_district21[col].astype(float)

In [12]:
df_district21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Agency Name                                 1239 non-null   object
 1   State                                       1235 non-null   object
 2   NCES Agency ID                              1235 non-null   float64
 3   County Name                                 1235 non-null   object
 4   County #                                    1235 non-null   float64
 5   Total Operational Public Schools 2020-2021  1235 non-null   float64
 6   Total Public Schools 2020-2021              1235 non-null   float64
 7   State Agency ID                             1235 non-null   object
 8   Total Students 2020-2021                    1234 non-null   float64
 9   FTE Teachers 2020-2021                      1232 non-null   float64
 10  Total Staff 2020-2021                       1232 non-null   float64
 11  Locale 2020-2021                            1235 non-null   object
 12  District #                                  1235 non-null   object
dtypes: float64(7), object(6)
memory usage: 126.0+ KB

In [13]:
# remove instances with no district #
no_students = df_district21[df_district21['Total Students 2020-2021'] == 0]
df_district21.loc[no_students.index]

,Agency Name,State,NCES Agency ID,County Name,County #,Total Operational Public Schools 2020-2021,Total Public Schools 2020-2021,State Agency ID,Total Students 2020-2021,FTE Teachers 2020-2021,Total Staff 2020-2021,Locale 2020-2021,District #
131,BRILLANTE ACADEMY,TEXAS,4801475.0,Hidalgo County,48215.0,0.0,1.0,TX-108810,0.0,0.00,0.00,12-City: Mid-size,108810
304,DORAL ACADEMY OF TEXAS,TEXAS,4801474.0,Bexar County,48029.0,0.0,1.0,TX-105804,0.0,0.00,0.00,11-City: Large,105804
340,ELEVATE COLLEGIATE CHARTER SCHOOL,TEXAS,4801470.0,Harris County,48201.0,0.0,1.0,TX-101877,0.0,0.00,0.00,11-City: Large,101877
472,HARRIS COUNTY DEPT OF ED,Texas,4800261.0,Harris County,48201.0,1.0,5.0,TX-101000,0.0,0.00,0.00,21-Suburb: Large,101000
619,LEARN4LIFE-AUSTIN,TEXAS,4801478.0,Travis County,48453.0,0.0,1.0,TX-227830,0.0,0.00,0.00,11-City: Large,227830
862,PRELUDE PREPARATORY CHARTER SCHOOL,TEXAS,4801476.0,Bexar County,48029.0,0.0,1.0,TX-015843,0.0,0.00,0.00,11-City: Large,015843
895,REG 1 EDUCATION SERVICE CENTER,Texas,4800136.0,Hidalgo County,48215.0,0.0,0.0,TX-108950,0.0,0.00,1.99,12-City: Mid-size,108950
896,REG 10 EDUCATION SERVICE CENTER,Texas,4800104.0,Dallas County,48113.0,0.0,0.0,TX-057950,0.0,0.00,11.63,12-City: Mid-size,057950
897,REG 11 EDUCATION SERVICE CENTER,Texas,4800162.0,Tarrant County,48439.0,0.0,0.0,TX-220950,0.0,0.00,4.55,21-Suburb: Large,220950
898,REG 12 EDUCATION SERVICE CENTER,Texas,4800146.0,McLennan County,48309.0,0.0,0.0,TX-161950,0.0,0.00,0.00,12-City: Mid-size,161950
899,REG 13 EDUCATION SERVICE CENTER,Texas,4800169.0,Travis County,48453.0,0.0,0.0,TX-227950,0.0,0.00,5.55,11-City: Large,227950
900,REG 14 EDUCATION SERVICE CENTER,Texas,4800164.0,Taylor County,48441.0,0.0,0.0,TX-221950,0.0,0.00,0.00,12-City: Mid-size,221950
901,REG 15 EDUCATION SERVICE CENTER,Texas,4800166.0,Tom Green County,48451.0,0.0,0.0,TX-226950,0.0,0.00,0.00,12-City: Mid-size,226950
902,REG 16 EDUCATION SERVICE CENTER,Texas,4800156.0,Randall County,48381.0,0.0,0.0,TX-188950,0.0,0.00,50.91,12-City: Mid-size,188950
903,REG 17 EDUCATION SERVICE CENTER,Texas,4800144.0,Lubbock County,48303.0,0.0,0.0,TX-152950,0.0,0.00,15.80,11-City: Large,152950
904,REG 18 EDUCATION SERVICE CENTER,Texas,4800150.0,Midland County,48329.0,0.0,0.0,TX-165950,0.0,0.00,0.00,41-Rural: Fringe,165950
905,REG 19 EDUCATION SERVICE CENTER,Texas,4800107.0,El Paso County,48141.0,0.0,0.0,TX-071950,0.0,0.00,3.00,11-City: Large,071950
906,REG 2 EDUCATION SERVICE CENTER,Texas,4800154.0,Nueces County,48355.0,0.0,0.0,TX-178950,0.0,0.00,5.00,11-City: Large,178950
907,REG 20 EDUCATION SERVICE CENTER,Texas,4800083.0,Bexar County,48029.0,0.0,0.0,TX-015950,0.0,0.00,37.30,11-City: Large,015950
908,REG 3 EDUCATION SERVICE CENTER,Texas,4800172.0,Victoria County,48469.0,0.0,0.0,TX-235950,0.0,0.00,0.00,13-City: Small,235950
909,REG 4 EDUCATION SERVICE CENTER,Texas,4800130.0,Harris County,48201.0,0.0,0.0,TX-101950,0.0,0.00,0.75,11-City: Large,101950
910,REG 5 EDUCATION SERVICE CENTER,Texas,4800155.0,Jefferson County,48245.0,0.0,0.0,TX-181950,0.0,5.13,10.26,12-City: Mid-size,181950
911,REG 6 EDUCATION SERVICE CENTER,Texas,4800173.0,Walker County,48471.0,0.0,0.0,TX-236950,0.0,0.00,3.41,32-Town: Distant,236950
912,REG 7 EDUCATION SERVICE CENTER,Texas,4800110.0,Gregg County,48183.0,0.0,0.0,TX-092950,0.0,0.00,1.23,31-Town: Fringe,092950
913,REG 8 EDUCATION SERVICE CENTER,Texas,4800165.0,Camp County,48063.0,0.0,0.0,TX-225950,0.0,0.00,2.00,42-Rural: Distant,225950
914,REG 9 EDUCATION SERVICE CENTER,Texas,4800176.0,Wichita County,48485.0,0.0,0.0,TX-243950,0.0,0.00,0.00,12-City: Mid-size,243950
951,ROYAL PUBLIC SCHOOLS,TEXAS,4801477.0,Bexar County,48029.0,0.0,1.0,TX-015842,0.0,0.00,0.00,11-City: Large,015842

In [14]:
# drop redundant columns
df_district21.drop(columns = ['County Name'], inplace = True)

# # remove instances with 0 students and
# no_students = df_district21[df_district21['Total Students 2020-2021'] == 0]
# df_district21.drop(no_students.index, inplace=True)
# # remove instances with no operating schools #
# no_schools = df_district21[df_district21['Total Operational Public Schools 2020-2021'] == 0]
# df_district21.drop(no_schools.index, inplace=True)
df_district21.dropna(subset = ['State Agency ID'], inplace = True)

In [15]:
df_district21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1234
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Agency Name                                 1235 non-null   object
 1   State                                       1235 non-null   object
 2   NCES Agency ID                              1235 non-null   float64
 3   County #                                    1235 non-null   float64
 4   Total Operational Public Schools 2020-2021  1235 non-null   float64
 5   Total Public Schools 2020-2021              1235 non-null   float64
 6   State Agency ID                             1235 non-null   object
 7   Total Students 2020-2021                    1234 non-null   float64
 8   FTE Teachers 2020-2021                      1232 non-null   float64
 9   Total Staff 2020-2021                       1232 non-null   float64
 10  Locale 2020-2021                            1235 non-null   object
 11  District #                                  1235 non-null   object
dtypes: float64(7), object(5)
memory usage: 125.4+ KB

In [16]:
# # remove instances with no FTE Teachers #
# no_teachers = df_district21[df_district21['FTE Teachers 2020-2021'].isna()]
# df_district21.drop(no_teachers.index, inplace=True)

In [17]:
# df_district21.info()

In [18]:
# read in the csv file and treat –, ‡ as NaN
df_district19 = pd.read_csv('nces_district_2019.csv', header = 3, na_values=["–", "‡"])

In [19]:
print('Shape:', df_district19.shape)
df_district19.head()

Shape: (1234, 12)

,Agency Name,State Name [District] Latest available year,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2018-19,County Number [District] 2018-19,Total Number Operational Schools [Public School] 2018-19,Total Number of Public Schools [Public School] 2018-19,State Agency ID [District] 2018-19,Total Students All Grades (Excludes AE) [District] 2018-19,Full-Time Equivalent (FTE) Teachers [District] 2018-19,Total Staff [District] 2018-19,Locale [District] 2018-19
0,A W BROWN LEADERSHIP ACADEMY,Texas,4800095.0,Dallas County,48113.0,2,2,TX-057816,2084,115.60,218.40,11-City: Large
1,A+ ACADEMY,Texas,4800203.0,Dallas County,48113.0,2,2,TX-057829,1409,86.58,192.28,11-City: Large
2,A+ UNLIMITED POTENTIAL,TEXAS,4801453.0,Harris County,48201.0,2,2,TX-101871,180,7.67,10.34,11-City: Large
3,ABBOTT ISD,Texas,4807380.0,Hill County,48217.0,1,2,TX-109901,277,24.25,40.00,42-Rural: Distant
4,ABERNATHY ISD,Texas,4807410.0,Hale County,48189.0,3,4,TX-095901,780,68.00,124.97,31-Town: Fringe

In [20]:
list(df_district19.columns)

['Agency Name',
 'State Name [District] Latest available year',
 'Agency ID - NCES Assigned [District] Latest available year',
 'County Name [District] 2018-19',
 'County Number [District] 2018-19',
 'Total Number Operational Schools [Public School] 2018-19',
 'Total Number of Public Schools [Public School] 2018-19',
 'State Agency ID [District] 2018-19',
 'Total Students All Grades (Excludes AE) [District] 2018-19',
 'Full-Time Equivalent (FTE) Teachers [District] 2018-19',
 'Total Staff [District] 2018-19',
 'Locale [District] 2018-19']

In [21]:
#re-name the columns for simplicity and merging later
district_columns19 = ['Agency Name', \
                    'State', \
                    'NCES Agency ID', \
                    'County Name', \
                    'County #', \
                    'Total Operational Public Schools 2018-2019', \
                    'Total Public Schools 2018-2019', \
                    'State Agency ID', \
                    'Total Students 2018-2019', \
                    'FTE Teachers 2018-2019', \
                    'Total Staff 2018-2019',
                     #v2 update
                    'Locale 2018-2019']

# read in the csv file and treat –, ‡ as NaN
# we will replace † with 0
df_district19 = pd.read_csv('nces_district_2019.csv', header = 3, names = district_columns19, na_values=["–", "‡"])
df_district19.replace('†', 0, inplace=True)

In [22]:
df_district19['District #'] = df_district19['State Agency ID'].str[3:]

In [23]:
num_cols19 = ['Total Public Schools 2018-2019', \
                    'Total Operational Public Schools 2018-2019', \
                    'Total Students 2018-2019', \
                    'FTE Teachers 2018-2019', \
                    'Total Staff 2018-2019']

for col in num_cols19:
    df_district19[col] = df_district19[col].astype(str)
    df_district19[col] = df_district19[col].map(lambda x: x.lstrip('="').rstrip('"'))
    df_district19[col] = df_district19[col].astype(float)

In [24]:
# drop redundant columns
df_district19.drop(columns = ['County Name'], inplace = True)

# # remove instances with 0 students and
# no_students = df_district19[df_district19['Total Students 2018-2019'] == 0]
# df_district19.drop(no_students.index, inplace=True)
# # remove instances with no district #
# no_schools = df_district19[df_district19['Total Operational Public Schools 2018-2019'] == 0]
# df_district19.drop(no_schools.index, inplace=True)
df_district19.dropna(subset = ['State Agency ID'], inplace = True)

In [25]:
df_district19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1230 entries, 0 to 1229
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Agency Name                                 1230 non-null   object
 1   State                                       1230 non-null   object
 2   NCES Agency ID                              1230 non-null   float64
 3   County #                                    1230 non-null   float64
 4   Total Operational Public Schools 2018-2019  1230 non-null   float64
 5   Total Public Schools 2018-2019              1230 non-null   float64
 6   State Agency ID                             1230 non-null   object
 7   Total Students 2018-2019                    1229 non-null   float64
 8   FTE Teachers 2018-2019                      1229 non-null   float64
 9   Total Staff 2018-2019                       1227 non-null   float64
 10  Locale 2018-2019                            1230 non-null   object
 11  District #                                  1230 non-null   object
dtypes: float64(7), object(5)
memory usage: 124.9+ KB

In [26]:
temp=[c + ': ' + str(df_district19[c].isna().sum()) for c in df_district19 if df_district19[c].isna().any()]
temp

['Total Students 2018-2019: 1',
 'FTE Teachers 2018-2019: 1',
 'Total Staff 2018-2019: 3']

In [27]:
# read in the csv file and treat –, ‡ as NaN
df_grades = pd.read_csv('nces_grades.csv', header = 3, na_values=["–", "‡"])

In [28]:
list(df_grades.columns)

['Agency Name',
 'State Name [District] Latest available year',
 'Grade 3 Students [District] 2020-21',
 'Grade 3 Students [District] 2018-19',
 'Grade 4 Students [District] 2020-21',
 'Grade 4 Students [District] 2018-19',
 'Grade 5 Students [District] 2020-21',
 'Grade 5 Students [District] 2018-19',
 'Grade 6 Students [District] 2020-21',
 'Grade 6 Students [District] 2018-19',
 'Grade 7 Students [District] 2020-21',
 'Grade 7 Students [District] 2018-19',
 'Grade 8 Students [District] 2020-21',
 'Grade 8 Students [District] 2018-19',
 'State Agency ID [District] 2020-21',
 'State Agency ID [District] 2018-19',
 'Grades 1-8 Students [District] 2020-21',
 'Grades 1-8 Students [District] 2018-19',
 'Grades 9-12 Students [District] 2020-21',
 'Grades 9-12 Students [District] 2018-19',
 'Prekindergarten Students [District] 2020-21',
 'Prekindergarten Students [District] 2018-19',
 'Kindergarten Students [District] 2020-21',
 'Kindergarten Students [District] 2018-19',
 'Grade 1 Students [District] 2020-21',
 'Grade 1 Students [District] 2018-19',
 'Grade 2 Students [District] 2020-21',
 'Grade 2 Students [District] 2018-19',
 'Grade 9 Students [District] 2020-21',
 'Grade 9 Students [District] 2018-19',
 'Grade 10 Students [District] 2020-21',
 'Grade 10 Students [District] 2018-19',
 'Grade 11 Students [District] 2020-21',
 'Grade 11 Students [District] 2018-19',
 'Grade 12 Students [District] 2020-21',
 'Grade 12 Students [District] 2018-19']

In [29]:
#re-name the columns for simplicity and merging later
grade_columns = ['Agency Name', \
                'State', \
                'Grade 3 2020-2021', \
                'Grade 3 2018-2019', \
                'Grade 4 2020-2021', \
                'Grade 4 2018-2019', \
                'Grade 5 2020-2021', \
                'Grade 5 2018-2019', \
                'Grade 6 2020-2021', \
                'Grade 6 2018-2019', \
                'Grade 7 2020-2021', \
                'Grade 7 2018-2019', \
                'Grade 8 2020-2021', \
                'Grade 8 2018-2019', \
                'State Agency ID 2020-2021', \
                'State Agency ID 2018-2019',
                # added v2
                'Grades 1-8 2020-2021',
                'Grades 1-8 2018-2019',
                'Grades 9-12 2020-2021',
                'Grades 9-12 2018-2019',
                'Prek 2020-2021',
                'Prek 2018-2019',
                'K 2020-2021',
                'K 2018-2019',
                'Grade 1 2020-2021',
                'Grade 1 2018-2019',
                'Grade 2 2020-2021',
                'Grade 2 2018-2019',
                'Grade 9 2020-2021',
                'Grade 9 2018-2019',
                'Grade 10 2020-2021',
                'Grade 10 2018-2019',
                'Grade 11 2020-2021',
                'Grade 11 2018-2019',
                'Grade 12 2020-2021',
                'Grade 12 2018-2019']

# read in the csv file and treat –, ‡ as NaN
# we will replace † with 0
# df_grades = pd.read_csv('nces_grades.csv', header = 3, names = grade_columns, na_values=["–", "‡", "†"])
df_grades = pd.read_csv('nces_grades.csv', header = 3, names = grade_columns, na_values=["–", "‡"])
df_grades.replace('†', 0, inplace=True)

df_grades['State Agency ID 2018-2019'] = df_grades.apply(lambda x: x['State Agency ID 2020-2021'] 
                                                         if x['State Agency ID 2018-2019'] == 0 
                                                         else x['State Agency ID 2018-2019'], axis=1)
df_grades['State Agency ID 2020-2021'] = df_grades.apply(lambda x: x['State Agency ID 2018-2019'] 
                                                         if x['State Agency ID 2020-2021'] == 0 
                                                         else x['State Agency ID 2020-2021'], axis=1)
df_grades['District #'] = df_grades['State Agency ID 2020-2021'].str[3:]

In [30]:
print(df_grades[df_grades['State Agency ID 2018-2019']==0].shape)
print(df_grades[df_grades['State Agency ID 2020-2021']==0].shape)

(0, 37)
(0, 37)

In [31]:
df_grades.drop(columns = ['State Agency ID 2018-2019', 'State Agency ID 2020-2021', 'Agency Name', 'State'], inplace = True)

In [32]:
df_grades.isna().sum()

Grade 3 2020-2021        4
Grade 3 2018-2019        4
Grade 4 2020-2021        4
Grade 4 2018-2019        4
Grade 5 2020-2021        4
Grade 5 2018-2019        4
Grade 6 2020-2021        4
Grade 6 2018-2019        4
Grade 7 2020-2021        4
Grade 7 2018-2019        4
Grade 8 2020-2021        4
Grade 8 2018-2019        4
Grades 1-8 2020-2021     4
Grades 1-8 2018-2019     4
Grades 9-12 2020-2021    4
Grades 9-12 2018-2019    4
Prek 2020-2021           4
Prek 2018-2019           4
K 2020-2021              4
K 2018-2019              4
Grade 1 2020-2021        4
Grade 1 2018-2019        4
Grade 2 2020-2021        4
Grade 2 2018-2019        4
Grade 9 2020-2021        4
Grade 9 2018-2019        4
Grade 10 2020-2021       4
Grade 10 2018-2019       4
Grade 11 2020-2021       4
Grade 11 2018-2019       4
Grade 12 2020-2021       4
Grade 12 2018-2019       4
District #               4
dtype: int64

In [33]:
# grades = ['Grade 3 2020-2021', \
#                 'Grade 3 2018-2019', \
#                 'Grade 4 2020-2021', \
#                 'Grade 4 2018-2019', \
#                 'Grade 5 2020-2021', \
#                 'Grade 5 2018-2019', \
#                 'Grade 6 2020-2021', \
#                 'Grade 6 2018-2019', \
#                 'Grade 7 2020-2021', \
#                 'Grade 7 2018-2019', \
#                 'Grade 8 2020-2021', \
#                 'Grade 8 2018-2019']

for col in df_grades.columns:
    if col != 'District #':
        df_grades[col] = df_grades[col].astype(str)
        df_grades[col] = df_grades[col].map(lambda x: x.lstrip('="').rstrip('"'))
        df_grades[col] = df_grades[col].astype(float)

In [34]:
df_grades.dropna(subset = ['District #'], inplace = True)

In [35]:
df_grades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1240 entries, 0 to 1239
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Grade 3 2020-2021      1240 non-null   float64
 1   Grade 3 2018-2019      1240 non-null   float64
 2   Grade 4 2020-2021      1240 non-null   float64
 3   Grade 4 2018-2019      1240 non-null   float64
 4   Grade 5 2020-2021      1240 non-null   float64
 5   Grade 5 2018-2019      1240 non-null   float64
 6   Grade 6 2020-2021      1240 non-null   float64
 7   Grade 6 2018-2019      1240 non-null   float64
 8   Grade 7 2020-2021      1240 non-null   float64
 9   Grade 7 2018-2019      1240 non-null   float64
 10  Grade 8 2020-2021      1240 non-null   float64
 11  Grade 8 2018-2019      1240 non-null   float64
 12  Grades 1-8 2020-2021   1240 non-null   float64
 13  Grades 1-8 2018-2019   1240 non-null   float64
 14  Grades 9-12 2020-2021  1240 non-null   float64
 15  Grades 9-12 2018-2019  1240 non-null   float64
 16  Prek 2020-2021         1240 non-null   float64
 17  Prek 2018-2019         1240 non-null   float64
 18  K 2020-2021            1240 non-null   float64
 19  K 2018-2019            1240 non-null   float64
 20  Grade 1 2020-2021      1240 non-null   float64
 21  Grade 1 2018-2019      1240 non-null   float64
 22  Grade 2 2020-2021      1240 non-null   float64
 23  Grade 2 2018-2019      1240 non-null   float64
 24  Grade 9 2020-2021      1240 non-null   float64
 25  Grade 9 2018-2019      1240 non-null   float64
 26  Grade 10 2020-2021     1240 non-null   float64
 27  Grade 10 2018-2019     1240 non-null   float64
 28  Grade 11 2020-2021     1240 non-null   float64
 29  Grade 11 2018-2019     1240 non-null   float64
 30  Grade 12 2020-2021     1240 non-null   float64
 31  Grade 12 2018-2019     1240 non-null   float64
 32  District #             1240 non-null   object
dtypes: float64(32), object(1)
memory usage: 329.4+ KB

Merge

In [36]:
list(df_district19.columns)

['Agency Name',
 'State',
 'NCES Agency ID',
 'County #',
 'Total Operational Public Schools 2018-2019',
 'Total Public Schools 2018-2019',
 'State Agency ID',
 'Total Students 2018-2019',
 'FTE Teachers 2018-2019',
 'Total Staff 2018-2019',
 'Locale 2018-2019',
 'District #']

In [37]:
list(df_grades.columns)

['Grade 3 2020-2021',
 'Grade 3 2018-2019',
 'Grade 4 2020-2021',
 'Grade 4 2018-2019',
 'Grade 5 2020-2021',
 'Grade 5 2018-2019',
 'Grade 6 2020-2021',
 'Grade 6 2018-2019',
 'Grade 7 2020-2021',
 'Grade 7 2018-2019',
 'Grade 8 2020-2021',
 'Grade 8 2018-2019',
 'Grades 1-8 2020-2021',
 'Grades 1-8 2018-2019',
 'Grades 9-12 2020-2021',
 'Grades 9-12 2018-2019',
 'Prek 2020-2021',
 'Prek 2018-2019',
 'K 2020-2021',
 'K 2018-2019',
 'Grade 1 2020-2021',
 'Grade 1 2018-2019',
 'Grade 2 2020-2021',
 'Grade 2 2018-2019',
 'Grade 9 2020-2021',
 'Grade 9 2018-2019',
 'Grade 10 2020-2021',
 'Grade 10 2018-2019',
 'Grade 11 2020-2021',
 'Grade 11 2018-2019',
 'Grade 12 2020-2021',
 'Grade 12 2018-2019',
 'District #']

In [38]:
print('district19 shape:', df_district19.shape)
print('district21 shape:', df_district21.shape)
print('grades shape:', df_grades.shape)

district19 shape: (1230, 12)
district21 shape: (1235, 12)
grades shape: (1240, 33)

In [39]:
print([d for d in df_district19['District #'].to_list() if d not in df_district21['District #'].to_list()])
print([d for d in df_district21['District #'].to_list() if d not in df_district19['District #'].to_list()])

['148903', '126801', '139908', '227828', '057849']
['108810', '105804', '101877', '101878', '227830', '015843', '015842', '015840', '015841', '227506']

In [40]:
df_merge = pd.merge(df_district19, df_district21, how="outer", on= ["State Agency ID", \
                                                                    "District #", \
                                                                    "Agency Name", \
                                                                    "State", \
                                                                    "NCES Agency ID", \
                                                                    "County #"])

In [41]:
print('Shape:', df_merge.shape)
df_merge.info()

Shape: (1245, 18)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245 entries, 0 to 1244
Data columns (total 18 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Agency Name                                 1245 non-null   object
 1   State                                       1245 non-null   object
 2   NCES Agency ID                              1245 non-null   float64
 3   County #                                    1245 non-null   float64
 4   Total Operational Public Schools 2018-2019  1230 non-null   float64
 5   Total Public Schools 2018-2019              1230 non-null   float64
 6   State Agency ID                             1245 non-null   object
 7   Total Students 2018-2019                    1229 non-null   float64
 8   FTE Teachers 2018-2019                      1229 non-null   float64
 9   Total Staff 2018-2019                       1227 non-null   float64
 10  Locale 2018-2019                            1230 non-null   object
 11  District #                                  1245 non-null   object
 12  Total Operational Public Schools 2020-2021  1235 non-null   float64
 13  Total Public Schools 2020-2021              1235 non-null   float64
 14  Total Students 2020-2021                    1234 non-null   float64
 15  FTE Teachers 2020-2021                      1232 non-null   float64
 16  Total Staff 2020-2021                       1232 non-null   float64
 17  Locale 2020-2021                            1235 non-null   object
dtypes: float64(12), object(6)
memory usage: 184.8+ KB

In [42]:
df_merge.isna().sum()

Agency Name                                    0
State                                          0
NCES Agency ID                                 0
County #                                       0
Total Operational Public Schools 2018-2019    15
Total Public Schools 2018-2019                15
State Agency ID                                0
Total Students 2018-2019                      16
FTE Teachers 2018-2019                        16
Total Staff 2018-2019                         18
Locale 2018-2019                              15
District #                                     0
Total Operational Public Schools 2020-2021    10
Total Public Schools 2020-2021                10
Total Students 2020-2021                      11
FTE Teachers 2020-2021                        13
Total Staff 2020-2021                         13
Locale 2020-2021                              10
dtype: int64

In [43]:
df_1921 = pd.read_csv('nces_campus_1921.csv',  header = 3, na_values=["–", "‡"])
print('Shape:', df_1921.shape)

Shape: (9710, 32)

In [44]:
df_1921.isna().sum()

School Name                                                                0
State Name [Public School] Latest available year                           4
State Agency ID [Public School] 2020-21                                    4
State Agency ID [Public School] 2018-19                                    4
Virtual School Status (SY 2016-17 onward) [Public School] 2020-21       8997
Virtual School Status (SY 2016-17 onward) [Public School] 2018-19          4
School-wide Title I [Public School] 2020-21                                4
School-wide Title I [Public School] 2018-19                                4
Title I Eligible School [Public School] 2020-21                            4
Title I Eligible School [Public School] 2018-19                            4
Title I School Status [Public School] 2020-21                              4
Title I School Status [Public School] 2018-19                              4
Free Lunch Eligible [Public School] 2020-21                              398
Free Lunch Eligible [Public School] 2018-19                              312
Reduced-price Lunch Eligible Students [Public School] 2020-21            398
Reduced-price Lunch Eligible Students [Public School] 2018-19            312
American Indian/Alaska Native Students [Public School] 2020-21             9
American Indian/Alaska Native Students [Public School] 2018-19             8
Asian or Asian/Pacific Islander Students [Public School] 2020-21           9
Asian or Asian/Pacific Islander Students [Public School] 2018-19           8
Hispanic Students [Public School] 2020-21                                  9
Hispanic Students [Public School] 2018-19                                  8
Black or African American Students [Public School] 2020-21                 9
Black or African American Students [Public School] 2018-19                 8
White Students [Public School] 2020-21                                     9
White Students [Public School] 2018-19                                     8
Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2020-21       9
Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2018-19       8
Two or More Races Students [Public School] 2020-21                         9
Two or More Races Students [Public School] 2018-19                         8
Total Race/Ethnicity [Public School] 2020-21                               4
Total Race/Ethnicity [Public School] 2018-19                               8
dtype: int64

In [45]:
list(df_1921.columns)

['School Name',
 'State Name [Public School] Latest available year',
 'State Agency ID [Public School] 2020-21',
 'State Agency ID [Public School] 2018-19',
 'Virtual School Status (SY 2016-17 onward) [Public School] 2020-21',
 'Virtual School Status (SY 2016-17 onward) [Public School] 2018-19',
 'School-wide Title I [Public School] 2020-21',
 'School-wide Title I [Public School] 2018-19',
 'Title I Eligible School [Public School] 2020-21',
 'Title I Eligible School [Public School] 2018-19',
 'Title I School Status [Public School] 2020-21',
 'Title I School Status [Public School] 2018-19',
 'Free Lunch Eligible [Public School] 2020-21',
 'Free Lunch Eligible [Public School] 2018-19',
 'Reduced-price Lunch Eligible Students [Public School] 2020-21',
 'Reduced-price Lunch Eligible Students [Public School] 2018-19',
 'American Indian/Alaska Native Students [Public School] 2020-21',
 'American Indian/Alaska Native Students [Public School] 2018-19',
 'Asian or Asian/Pacific Islander Students [Public School] 2020-21',
 'Asian or Asian/Pacific Islander Students [Public School] 2018-19',
 'Hispanic Students [Public School] 2020-21',
 'Hispanic Students [Public School] 2018-19',
 'Black or African American Students [Public School] 2020-21',
 'Black or African American Students [Public School] 2018-19',
 'White Students [Public School] 2020-21',
 'White Students [Public School] 2018-19',
 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2020-21',
 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2018-19',
 'Two or More Races Students [Public School] 2020-21',
 'Two or More Races Students [Public School] 2018-19',
 'Total Race/Ethnicity [Public School] 2020-21',
 'Total Race/Ethnicity [Public School] 2018-19']

In [46]:
col_names = ['School Name', \
            'State', \
            'State Agency ID 2020-2021', \
            'State Agency ID 2018-2019', \
            'Virtual Status 2020-2021', \
            'Virtual Status 2018-2019', \
            'School-wide Title I 2020-2021', \
            'School-wide Title I 2018-2019', \
            'Title I Eligible School 2020-2021', \
            'Title I Eligible School 2018-2019', \
            'Title I School Status 2020-2021', \
            'Title I School Status 2018-2019', \
            'Free Lunch 2020-2021', \
            'Free Lunch 2018-2019', \
            'Reduced-price Lunch 2020-2021', \
            'Reduced-price Lunch 2018-2019', \
            'American Indian/Alaska Native Students 2020-2021', \
            'American Indian/Alaska Native Students 2018-2019', \
            'Asian or Asian/Pacific Islander Students 2020-2021', \
            'Asian or Asian/Pacific Islander Students 2018-2019', \
            'Hispanic Students 2020-2021', \
            'Hispanic Students 2018-2019', \
            'Black or African American Students 2020-2021', \
            'Black or African American Students 2018-2019', \
            'White Students 2020-2021', \
            'White Students 2018-2019', \
            'Nat. Hawaiian or Other Pacific Isl. Students 2020-2021', \
            'Nat. Hawaiian or Other Pacific Isl. Students 2018-2019', \
            'Two or More Races Students 2020-2021', \
            'Two or More Races Students 2018-2019', \
            'Total Race/Ethnicity 2020-2021', \
            'Total Race/Ethnicity 2018-2019']

In [47]:
# read in the csv file and treat –, ‡ as NaN
df_1921 = pd.read_csv('nces_campus_1921.csv', header = 3, names = col_names, na_values=["–", "‡"])
df_1921.replace('†', 0, inplace=True)

In [48]:
df_1921['State Agency ID 2018-2019'] = df_1921.apply(lambda x: x['State Agency ID 2020-2021'] 
                                                         if x['State Agency ID 2018-2019'] == 0 
                                                         else x['State Agency ID 2018-2019'], axis=1)
df_1921['State Agency ID 2020-2021'] = df_1921.apply(lambda x: x['State Agency ID 2018-2019'] 
                                                         if x['State Agency ID 2020-2021'] == 0 
                                                         else x['State Agency ID 2020-2021'], axis=1)

In [49]:
print(df_1921[df_1921['State Agency ID 2018-2019']==0].shape)
print(df_1921[df_1921['State Agency ID 2020-2021']==0].shape)

(0, 32)
(0, 32)

In [50]:
df_1921.dropna(subset = ['State Agency ID 2018-2019', 'State Agency ID 2020-2021'], inplace = True)

In [51]:
df_1921.isna().sum()

School Name                                                  0
State                                                        0
State Agency ID 2020-2021                                    0
State Agency ID 2018-2019                                    0
Virtual Status 2020-2021                                  8993
Virtual Status 2018-2019                                     0
School-wide Title I 2020-2021                                0
School-wide Title I 2018-2019                                0
Title I Eligible School 2020-2021                            0
Title I Eligible School 2018-2019                            0
Title I School Status 2020-2021                              0
Title I School Status 2018-2019                              0
Free Lunch 2020-2021                                       394
Free Lunch 2018-2019                                       308
Reduced-price Lunch 2020-2021                              394
Reduced-price Lunch 2018-2019                              308
American Indian/Alaska Native Students 2020-2021             5
American Indian/Alaska Native Students 2018-2019             4
Asian or Asian/Pacific Islander Students 2020-2021           5
Asian or Asian/Pacific Islander Students 2018-2019           4
Hispanic Students 2020-2021                                  5
Hispanic Students 2018-2019                                  4
Black or African American Students 2020-2021                 5
Black or African American Students 2018-2019                 4
White Students 2020-2021                                     5
White Students 2018-2019                                     4
Nat. Hawaiian or Other Pacific Isl. Students 2020-2021       5
Nat. Hawaiian or Other Pacific Isl. Students 2018-2019       4
Two or More Races Students 2020-2021                         5
Two or More Races Students 2018-2019                         4
Total Race/Ethnicity 2020-2021                               0
Total Race/Ethnicity 2018-2019                               4
dtype: int64

In [52]:
df_1921['Virtual Status 2020-2021'].value_counts(dropna = False)

NaN            8993
0               704
FULLVIRTUAL       9
Name: Virtual Status 2020-2021, dtype: int64

In [53]:
df_1921['Virtual Status 2018-2019'].value_counts(dropna = False)

NOTVIRTUAL     8971
0               727
FULLVIRTUAL       8
Name: Virtual Status 2018-2019, dtype: int64

In [54]:
for col in col_names:
    df_1921[col] = df_1921[col].astype(str)
    df_1921[col] = df_1921[col].map(lambda x: x.lstrip('="').rstrip('"'))

In [55]:
num_cols = ['Free Lunch 2020-2021', \
            'Free Lunch 2018-2019', \
            'Reduced-price Lunch 2020-2021', \
            'Reduced-price Lunch 2018-2019', \
            'American Indian/Alaska Native Students 2020-2021', \
            'American Indian/Alaska Native Students 2018-2019', \
            'Asian or Asian/Pacific Islander Students 2020-2021', \
            'Asian or Asian/Pacific Islander Students 2018-2019', \
            'Hispanic Students 2020-2021', \
            'Hispanic Students 2018-2019', \
            'Black or African American Students 2020-2021', \
            'Black or African American Students 2018-2019', \
            'White Students 2020-2021', \
            'White Students 2018-2019', \
            'Nat. Hawaiian or Other Pacific Isl. Students 2020-2021', \
            'Nat. Hawaiian or Other Pacific Isl. Students 2018-2019', \
            'Two or More Races Students 2020-2021', \
            'Two or More Races Students 2018-2019', \
            'Total Race/Ethnicity 2020-2021', \
            'Total Race/Ethnicity 2018-2019']

for col in num_cols:
    df_1921[col] = df_1921[col].astype(float)

In [56]:
df_1921.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9706 entries, 0 to 9705
Data columns (total 32 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   School Name                                             9706 non-null   object
 1   State                                                   9706 non-null   object
 2   State Agency ID 2020-2021                               9706 non-null   object
 3   State Agency ID 2018-2019                               9706 non-null   object
 4   Virtual Status 2020-2021                                9706 non-null   object
 5   Virtual Status 2018-2019                                9706 non-null   object
 6   School-wide Title I 2020-2021                           9706 non-null   object
 7   School-wide Title I 2018-2019                           9706 non-null   object
 8   Title I Eligible School 2020-2021                       9706 non-null   object
 9   Title I Eligible School 2018-2019                       9706 non-null   object
 10  Title I School Status 2020-2021                         9706 non-null   object
 11  Title I School Status 2018-2019                         9706 non-null   object
 12  Free Lunch 2020-2021                                    9312 non-null   float64
 13  Free Lunch 2018-2019                                    9398 non-null   float64
 14  Reduced-price Lunch 2020-2021                           9312 non-null   float64
 15  Reduced-price Lunch 2018-2019                           9398 non-null   float64
 16  American Indian/Alaska Native Students 2020-2021        9701 non-null   float64
 17  American Indian/Alaska Native Students 2018-2019        9702 non-null   float64
 18  Asian or Asian/Pacific Islander Students 2020-2021      9701 non-null   float64
 19  Asian or Asian/Pacific Islander Students 2018-2019      9702 non-null   float64
 20  Hispanic Students 2020-2021                             9701 non-null   float64
 21  Hispanic Students 2018-2019                             9702 non-null   float64
 22  Black or African American Students 2020-2021            9701 non-null   float64
 23  Black or African American Students 2018-2019            9702 non-null   float64
 24  White Students 2020-2021                                9701 non-null   float64
 25  White Students 2018-2019                                9702 non-null   float64
 26  Nat. Hawaiian or Other Pacific Isl. Students 2020-2021  9701 non-null   float64
 27  Nat. Hawaiian or Other Pacific Isl. Students 2018-2019  9702 non-null   float64
 28  Two or More Races Students 2020-2021                    9701 non-null   float64
 29  Two or More Races Students 2018-2019                    9702 non-null   float64
 30  Total Race/Ethnicity 2020-2021                          9706 non-null   float64
 31  Total Race/Ethnicity 2018-2019                          9702 non-null   float64
dtypes: float64(20), object(12)
memory usage: 2.4+ MB

In [57]:
df_1921['District #'] = df_1921['State Agency ID 2020-2021'].str[3:]
df_1921['District #'].value_counts(dropna = False)

101912    282
057905    249
220905    150
227901    136
015915    130
         ...
169910      1
028906      1
015814      1
242906      1
025906      1
Name: District #, Length: 1219, dtype: int64

In [58]:
df_1921.drop(columns = ['American Indian/Alaska Native Students 2020-2021', \
                        'American Indian/Alaska Native Students 2018-2019', \
                        'Nat. Hawaiian or Other Pacific Isl. Students 2020-2021', \
                        'Nat. Hawaiian or Other Pacific Isl. Students 2018-2019', \
                        'Two or More Races Students 2020-2021', \
                        'Two or More Races Students 2018-2019', \
                        'State', \
                        'State Agency ID 2020-2021', \
                        'State Agency ID 2018-2019'], inplace = True)

In [59]:
df_1921['School-wide Title I 2020-2021'].value_counts(dropna = False)

1-Yes    7102
0        2288
2-No      316
Name: School-wide Title I 2020-2021, dtype: int64

In [60]:
df_1921['Title I Eligible School 2020-2021'].value_counts(dropna = False)

1-Yes    7418
2-No     1584
0         704
Name: Title I Eligible School 2020-2021, dtype: int64

In [61]:
df_1921['Title I School Status 2020-2021'].value_counts(dropna = False).sort_index()

0                                                                     704
1-Title I targeted assistance eligible school-No program              263
2-Title I targeted assistance school                                   53
3-Title I schoolwide eligible-Title I targeted assistance program      34
4-Title I schoolwide eligible school-No program                       863
5-Title I schoolwide school                                          6205
6-Not a Title I school                                               1584
Name: Title I School Status 2020-2021, dtype: int64

In [62]:
df_1921['School-wide Title I 2018-2019'].value_counts(dropna = False)

1-Yes    6998
0        2397
2-No      311
Name: School-wide Title I 2018-2019, dtype: int64

In [63]:
df_1921['Title I Eligible School 2018-2019'].value_counts(dropna = False)

1-Yes    7309
2-No     1670
0         727
Name: Title I Eligible School 2018-2019, dtype: int64

In [64]:
df_1921['Title I School Status 2018-2019'].value_counts(dropna = False).sort_index()

0                                                                     727
1-Title I targeted assistance eligible school-No program              244
2-Title I targeted assistance school                                   67
3-Title I schoolwide eligible-Title I targeted assistance program      30
4-Title I schoolwide eligible school-No program                       895
5-Title I schoolwide school                                          6073
6-Not a Title I school                                               1670
Name: Title I School Status 2018-2019, dtype: int64

In [65]:
df_1921.isna().sum()

School Name                                             0
Virtual Status 2020-2021                                0
Virtual Status 2018-2019                                0
School-wide Title I 2020-2021                           0
School-wide Title I 2018-2019                           0
Title I Eligible School 2020-2021                       0
Title I Eligible School 2018-2019                       0
Title I School Status 2020-2021                         0
Title I School Status 2018-2019                         0
Free Lunch 2020-2021                                  394
Free Lunch 2018-2019                                  308
Reduced-price Lunch 2020-2021                         394
Reduced-price Lunch 2018-2019                         308
Asian or Asian/Pacific Islander Students 2020-2021      5
Asian or Asian/Pacific Islander Students 2018-2019      4
Hispanic Students 2020-2021                             5
Hispanic Students 2018-2019                             4
Black or African American Students 2020-2021            5
Black or African American Students 2018-2019            4
White Students 2020-2021                                5
White Students 2018-2019                                4
Total Race/Ethnicity 2020-2021                          0
Total Race/Ethnicity 2018-2019                          4
District #                                              0
dtype: int64

**Title 1 Cleaning**

In [66]:
cols = ['Virtual Status 2020-2021',
'Virtual Status 2018-2019',
'School-wide Title I 2020-2021',
'School-wide Title I 2018-2019',
'Title I Eligible School 2020-2021',
'Title I Eligible School 2018-2019',
'Title I School Status 2020-2021',
'Title I School Status 2018-2019']

for col in cols: 
    print(df_1921[col].value_counts().sort_index(), '\n')

0               704
FULLVIRTUAL       9
nan            8993
Name: Virtual Status 2020-2021, dtype: int64

0               727
FULLVIRTUAL       8
NOTVIRTUAL     8971
Name: Virtual Status 2018-2019, dtype: int64

0        2288
1-Yes    7102
2-No      316
Name: School-wide Title I 2020-2021, dtype: int64

0        2397
1-Yes    6998
2-No      311
Name: School-wide Title I 2018-2019, dtype: int64

0         704
1-Yes    7418
2-No     1584
Name: Title I Eligible School 2020-2021, dtype: int64

0         727
1-Yes    7309
2-No     1670
Name: Title I Eligible School 2018-2019, dtype: int64

0                                                                     704
1-Title I targeted assistance eligible school-No program              263
2-Title I targeted assistance school                                   53
3-Title I schoolwide eligible-Title I targeted assistance program      34
4-Title I schoolwide eligible school-No program                       863
5-Title I schoolwide school                                          6205
6-Not a Title I school                                               1584
Name: Title I School Status 2020-2021, dtype: int64

0                                                                     727
1-Title I targeted assistance eligible school-No program              244
2-Title I targeted assistance school                                   67
3-Title I schoolwide eligible-Title I targeted assistance program      30
4-Title I schoolwide eligible school-No program                       895
5-Title I schoolwide school                                          6073
6-Not a Title I school                                               1670
Name: Title I School Status 2018-2019, dtype: int64

In [67]:
df_1921_t1 = df_1921[['District #', 
                     'School-wide Title I 2020-2021',
                    'School-wide Title I 2018-2019',
                    'Title I Eligible School 2020-2021',
                    'Title I Eligible School 2018-2019']].copy()
df_1921_t1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9706 entries, 0 to 9705
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   District #                         9706 non-null   object
 1   School-wide Title I 2020-2021      9706 non-null   object
 2   School-wide Title I 2018-2019      9706 non-null   object
 3   Title I Eligible School 2020-2021  9706 non-null   object
 4   Title I Eligible School 2018-2019  9706 non-null   object
dtypes: object(5)
memory usage: 455.0+ KB

In [68]:
cols_title1 = ['School-wide Title I 2020-2021',
                'School-wide Title I 2018-2019',
                'Title I Eligible School 2020-2021',
                'Title I Eligible School 2018-2019']

for col in cols_title1: 
    df_1921_t1[col] = df_1921_t1[col].apply(lambda x: 1 if x == '1-Yes' else 0)

In [69]:
for col in cols_title1: 
    print(df_1921_t1[col].value_counts().sort_index(), '\n')

0    2604
1    7102
Name: School-wide Title I 2020-2021, dtype: int64

0    2708
1    6998
Name: School-wide Title I 2018-2019, dtype: int64

0    2288
1    7418
Name: Title I Eligible School 2020-2021, dtype: int64

0    2397
1    7309
Name: Title I Eligible School 2018-2019, dtype: int64

In [70]:
district_1921_t1=df_1921_t1.groupby(['District #'], as_index=True).agg({
                                                            'School-wide Title I 2020-2021': 'sum',
                                                            'School-wide Title I 2018-2019': 'sum',
                                                            'Title I Eligible School 2020-2021': 'sum',
                                                            'Title I Eligible School 2018-2019': 'sum'})
district_1921_t1.rename(columns={'District #': 'district_count'}, inplace=True)
district_1921_t1.reset_index(inplace=True)
district_1921_t1.head()

,District #,School-wide Title I 2020-2021,School-wide Title I 2018-2019,Title I Eligible School 2020-2021,Title I Eligible School 2018-2019
0,001902,2,2,2,3
1,001903,4,4,4,4
2,001904,3,3,3,3
3,001906,2,2,2,2
4,001907,6,6,6,6

In [71]:
district_1921_t1['District #'] = district_1921_t1['District #'].astype(str)
print(district_1921_t1.info())
district_1921_t1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1219 entries, 0 to 1218
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   District #                         1219 non-null   object
 1   School-wide Title I 2020-2021      1219 non-null   int64
 2   School-wide Title I 2018-2019      1219 non-null   int64
 3   Title I Eligible School 2020-2021  1219 non-null   int64
 4   Title I Eligible School 2018-2019  1219 non-null   int64
dtypes: int64(4), object(1)
memory usage: 47.7+ KB
None

,District #,School-wide Title I 2020-2021,School-wide Title I 2018-2019,Title I Eligible School 2020-2021,Title I Eligible School 2018-2019
0,001902,2,2,2,3
1,001903,4,4,4,4
2,001904,3,3,3,3
3,001906,2,2,2,2
4,001907,6,6,6,6

In [72]:
district_1921 = df_1921.groupby('District #').agg('sum')

In [73]:
district_1921.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1219 entries, 001902 to 254902
Data columns (total 14 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Free Lunch 2020-2021                                1219 non-null   float64
 1   Free Lunch 2018-2019                                1219 non-null   float64
 2   Reduced-price Lunch 2020-2021                       1219 non-null   float64
 3   Reduced-price Lunch 2018-2019                       1219 non-null   float64
 4   Asian or Asian/Pacific Islander Students 2020-2021  1219 non-null   float64
 5   Asian or Asian/Pacific Islander Students 2018-2019  1219 non-null   float64
 6   Hispanic Students 2020-2021                         1219 non-null   float64
 7   Hispanic Students 2018-2019                         1219 non-null   float64
 8   Black or African American Students 2020-2021        1219 non-null   float64
 9   Black or African American Students 2018-2019        1219 non-null   float64
 10  White Students 2020-2021                            1219 non-null   float64
 11  White Students 2018-2019                            1219 non-null   float64
 12  Total Race/Ethnicity 2020-2021                      1219 non-null   float64
 13  Total Race/Ethnicity 2018-2019                      1219 non-null   float64
dtypes: float64(14)
memory usage: 142.9+ KB

In [74]:
district_1921.reset_index(inplace = True)

district_1921.head()

,District #,Free Lunch 2020-2021,Free Lunch 2018-2019,Reduced-price Lunch 2020-2021,Reduced-price Lunch 2018-2019,Asian or Asian/Pacific Islander Students 2020-2021,Asian or Asian/Pacific Islander Students 2018-2019,Hispanic Students 2020-2021,Hispanic Students 2018-2019,Black or African American Students 2020-2021,Black or African American Students 2018-2019,White Students 2020-2021,White Students 2018-2019,Total Race/Ethnicity 2020-2021,Total Race/Ethnicity 2018-2019
0,001902,159.0,181.0,43.0,59.0,3.0,3.0,52.0,38.0,22.0,20.0,431.0,478.0,535.0,564.0
1,001903,515.0,660.0,56.0,67.0,2.0,4.0,137.0,142.0,53.0,68.0,951.0,981.0,1200.0,1255.0
2,001904,390.0,392.0,38.0,40.0,9.0,8.0,62.0,66.0,79.0,66.0,586.0,629.0,769.0,804.0
3,001906,142.0,137.0,26.0,38.0,1.0,0.0,45.0,51.0,24.0,31.0,254.0,268.0,339.0,366.0
4,001907,2574.0,2316.0,152.0,228.0,26.0,31.0,1445.0,1398.0,883.0,902.0,894.0,936.0,3400.0,3393.0

In [75]:
df_1921['District #'] = df_1921['District #'].astype(float)

district_1921.nunique()

District #                                            1219
Free Lunch 2020-2021                                   853
Free Lunch 2018-2019                                   852
Reduced-price Lunch 2020-2021                          340
Reduced-price Lunch 2018-2019                          363
Asian or Asian/Pacific Islander Students 2020-2021     215
Asian or Asian/Pacific Islander Students 2018-2019     217
Hispanic Students 2020-2021                            790
Hispanic Students 2018-2019                            782
Black or African American Students 2020-2021           421
Black or African American Students 2018-2019           418
White Students 2020-2021                               784
White Students 2018-2019                               790
Total Race/Ethnicity 2020-2021                         971
Total Race/Ethnicity 2018-2019                         988
dtype: int64

In [76]:
df_merge = pd.merge(df_merge, district_1921, how="left", on= ["District #"])

df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245 entries, 0 to 1244
Data columns (total 32 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Agency Name                                         1245 non-null   object
 1   State                                               1245 non-null   object
 2   NCES Agency ID                                      1245 non-null   float64
 3   County #                                            1245 non-null   float64
 4   Total Operational Public Schools 2018-2019          1230 non-null   float64
 5   Total Public Schools 2018-2019                      1230 non-null   float64
 6   State Agency ID                                     1245 non-null   object
 7   Total Students 2018-2019                            1229 non-null   float64
 8   FTE Teachers 2018-2019                              1229 non-null   float64
 9   Total Staff 2018-2019                               1227 non-null   float64
 10  Locale 2018-2019                                    1230 non-null   object
 11  District #                                          1245 non-null   object
 12  Total Operational Public Schools 2020-2021          1235 non-null   float64
 13  Total Public Schools 2020-2021                      1235 non-null   float64
 14  Total Students 2020-2021                            1234 non-null   float64
 15  FTE Teachers 2020-2021                              1232 non-null   float64
 16  Total Staff 2020-2021                               1232 non-null   float64
 17  Locale 2020-2021                                    1235 non-null   object
 18  Free Lunch 2020-2021                                1224 non-null   float64
 19  Free Lunch 2018-2019                                1224 non-null   float64
 20  Reduced-price Lunch 2020-2021                       1224 non-null   float64
 21  Reduced-price Lunch 2018-2019                       1224 non-null   float64
 22  Asian or Asian/Pacific Islander Students 2020-2021  1224 non-null   float64
 23  Asian or Asian/Pacific Islander Students 2018-2019  1224 non-null   float64
 24  Hispanic Students 2020-2021                         1224 non-null   float64
 25  Hispanic Students 2018-2019                         1224 non-null   float64
 26  Black or African American Students 2020-2021        1224 non-null   float64
 27  Black or African American Students 2018-2019        1224 non-null   float64
 28  White Students 2020-2021                            1224 non-null   float64
 29  White Students 2018-2019                            1224 non-null   float64
 30  Total Race/Ethnicity 2020-2021                      1224 non-null   float64
 31  Total Race/Ethnicity 2018-2019                      1224 non-null   float64
dtypes: float64(26), object(6)
memory usage: 321.0+ KB

Title 1 merging

In [77]:
cols_merge = ['District #',
              'School-wide Title I 2020-2021',
              'School-wide Title I 2018-2019',
              'Title I Eligible School 2020-2021',
              'Title I Eligible School 2018-2019']
df_merge = pd.merge(df_merge, district_1921_t1[cols_merge], how="left", on= "District #")
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245 entries, 0 to 1244
Data columns (total 36 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Agency Name                                         1245 non-null   object
 1   State                                               1245 non-null   object
 2   NCES Agency ID                                      1245 non-null   float64
 3   County #                                            1245 non-null   float64
 4   Total Operational Public Schools 2018-2019          1230 non-null   float64
 5   Total Public Schools 2018-2019                      1230 non-null   float64
 6   State Agency ID                                     1245 non-null   object
 7   Total Students 2018-2019                            1229 non-null   float64
 8   FTE Teachers 2018-2019                              1229 non-null   float64
 9   Total Staff 2018-2019                               1227 non-null   float64
 10  Locale 2018-2019                                    1230 non-null   object
 11  District #                                          1245 non-null   object
 12  Total Operational Public Schools 2020-2021          1235 non-null   float64
 13  Total Public Schools 2020-2021                      1235 non-null   float64
 14  Total Students 2020-2021                            1234 non-null   float64
 15  FTE Teachers 2020-2021                              1232 non-null   float64
 16  Total Staff 2020-2021                               1232 non-null   float64
 17  Locale 2020-2021                                    1235 non-null   object
 18  Free Lunch 2020-2021                                1224 non-null   float64
 19  Free Lunch 2018-2019                                1224 non-null   float64
 20  Reduced-price Lunch 2020-2021                       1224 non-null   float64
 21  Reduced-price Lunch 2018-2019                       1224 non-null   float64
 22  Asian or Asian/Pacific Islander Students 2020-2021  1224 non-null   float64
 23  Asian or Asian/Pacific Islander Students 2018-2019  1224 non-null   float64
 24  Hispanic Students 2020-2021                         1224 non-null   float64
 25  Hispanic Students 2018-2019                         1224 non-null   float64
 26  Black or African American Students 2020-2021        1224 non-null   float64
 27  Black or African American Students 2018-2019        1224 non-null   float64
 28  White Students 2020-2021                            1224 non-null   float64
 29  White Students 2018-2019                            1224 non-null   float64
 30  Total Race/Ethnicity 2020-2021                      1224 non-null   float64
 31  Total Race/Ethnicity 2018-2019                      1224 non-null   float64
 32  School-wide Title I 2020-2021                       1224 non-null   float64
 33  School-wide Title I 2018-2019                       1224 non-null   float64
 34  Title I Eligible School 2020-2021                   1224 non-null   float64
 35  Title I Eligible School 2018-2019                   1224 non-null   float64
dtypes: float64(30), object(6)
memory usage: 359.9+ KB

In [78]:
df_merge = pd.merge(df_merge, df_grades, how="left", on= "District #")

In [79]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245 entries, 0 to 1244
Data columns (total 68 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Agency Name                                         1245 non-null   object
 1   State                                               1245 non-null   object
 2   NCES Agency ID                                      1245 non-null   float64
 3   County #                                            1245 non-null   float64
 4   Total Operational Public Schools 2018-2019          1230 non-null   float64
 5   Total Public Schools 2018-2019                      1230 non-null   float64
 6   State Agency ID                                     1245 non-null   object
 7   Total Students 2018-2019                            1229 non-null   float64
 8   FTE Teachers 2018-2019                              1229 non-null   float64
 9   Total Staff 2018-2019                               1227 non-null   float64
 10  Locale 2018-2019                                    1230 non-null   object
 11  District #                                          1245 non-null   object
 12  Total Operational Public Schools 2020-2021          1235 non-null   float64
 13  Total Public Schools 2020-2021                      1235 non-null   float64
 14  Total Students 2020-2021                            1234 non-null   float64
 15  FTE Teachers 2020-2021                              1232 non-null   float64
 16  Total Staff 2020-2021                               1232 non-null   float64
 17  Locale 2020-2021                                    1235 non-null   object
 18  Free Lunch 2020-2021                                1224 non-null   float64
 19  Free Lunch 2018-2019                                1224 non-null   float64
 20  Reduced-price Lunch 2020-2021                       1224 non-null   float64
 21  Reduced-price Lunch 2018-2019                       1224 non-null   float64
 22  Asian or Asian/Pacific Islander Students 2020-2021  1224 non-null   float64
 23  Asian or Asian/Pacific Islander Students 2018-2019  1224 non-null   float64
 24  Hispanic Students 2020-2021                         1224 non-null   float64
 25  Hispanic Students 2018-2019                         1224 non-null   float64
 26  Black or African American Students 2020-2021        1224 non-null   float64
 27  Black or African American Students 2018-2019        1224 non-null   float64
 28  White Students 2020-2021                            1224 non-null   float64
 29  White Students 2018-2019                            1224 non-null   float64
 30  Total Race/Ethnicity 2020-2021                      1224 non-null   float64
 31  Total Race/Ethnicity 2018-2019                      1224 non-null   float64
 32  School-wide Title I 2020-2021                       1224 non-null   float64
 33  School-wide Title I 2018-2019                       1224 non-null   float64
 34  Title I Eligible School 2020-2021                   1224 non-null   float64
 35  Title I Eligible School 2018-2019                   1224 non-null   float64
 36  Grade 3 2020-2021                                   1245 non-null   float64
 37  Grade 3 2018-2019                                   1245 non-null   float64
 38  Grade 4 2020-2021                                   1245 non-null   float64
 39  Grade 4 2018-2019                                   1245 non-null   float64
 40  Grade 5 2020-2021                                   1245 non-null   float64
 41  Grade 5 2018-2019                                   1245 non-null   float64
 42  Grade 6 2020-2021                                   1245 non-null   float64
 43  Grade 6 2018-2019                                   1245 non-null   float64
 44  Grade 7 2020-2021                                   1245 non-null   float64
 45  Grade 7 2018-2019                                   1245 non-null   float64
 46  Grade 8 2020-2021                                   1245 non-null   float64
 47  Grade 8 2018-2019                                   1245 non-null   float64
 48  Grades 1-8 2020-2021                                1245 non-null   float64
 49  Grades 1-8 2018-2019                                1245 non-null   float64
 50  Grades 9-12 2020-2021                               1245 non-null   float64
 51  Grades 9-12 2018-2019                               1245 non-null   float64
 52  Prek 2020-2021                                      1245 non-null   float64
 53  Prek 2018-2019                                      1245 non-null   float64
 54  K 2020-2021                                         1245 non-null   float64
 55  K 2018-2019                                         1245 non-null   float64
 56  Grade 1 2020-2021                                   1245 non-null   float64
 57  Grade 1 2018-2019                                   1245 non-null   float64
 58  Grade 2 2020-2021                                   1245 non-null   float64
 59  Grade 2 2018-2019                                   1245 non-null   float64
 60  Grade 9 2020-2021                                   1245 non-null   float64
 61  Grade 9 2018-2019                                   1245 non-null   float64
 62  Grade 10 2020-2021                                  1245 non-null   float64
 63  Grade 10 2018-2019                                  1245 non-null   float64
 64  Grade 11 2020-2021                                  1245 non-null   float64
 65  Grade 11 2018-2019                                  1245 non-null   float64
 66  Grade 12 2020-2021                                  1245 non-null   float64
 67  Grade 12 2018-2019                                  1245 non-null   float64
dtypes: float64(62), object(6)
memory usage: 671.1+ KB

In [80]:
np.isnan(df_merge.loc[465, 'Locale 2020-2021'])

True

In [81]:
df_merge['Locale 2018-2019'] = df_merge.apply(lambda x: x['Locale 2020-2021'] 
                                                         if pd.isnull(x['Locale 2018-2019']) 
                                                         else x['Locale 2018-2019'], axis=1)
df_merge['Locale 2020-2021'] = df_merge.apply(lambda x: x['Locale 2018-2019'] 
                                                         if pd.isnull(x['Locale 2020-2021'])
                                                         else x['Locale 2020-2021'], axis=1)

locale_diff = ~(df_merge['Locale 2018-2019'] == df_merge['Locale 2020-2021'])
df_merge.loc[locale_diff[locale_diff].index][['Locale 2018-2019', 'Locale 2020-2021']]

       Locale 2018-2019     Locale 2020-2021
36      31-Town: Fringe     41-Rural: Fringe
50       11-City: Large     21-Suburb: Large
128    41-Rural: Fringe  22-Suburb: Mid-size
206   12-City: Mid-size     41-Rural: Fringe
328      13-City: Small    12-City: Mid-size
329    41-Rural: Fringe     32-Town: Distant
338    41-Rural: Fringe      31-Town: Fringe
368    41-Rural: Fringe     32-Town: Distant
405    21-Suburb: Large       13-City: Small
419    21-Suburb: Large       13-City: Small
435    21-Suburb: Large       13-City: Small
462      13-City: Small    12-City: Mid-size
474    41-Rural: Fringe      33-Town: Remote
477    21-Suburb: Large     41-Rural: Fringe
507   42-Rural: Distant     41-Rural: Fringe
573    23-Suburb: Small       13-City: Small
603    21-Suburb: Large       11-City: Large
629    32-Town: Distant     41-Rural: Fringe
667     31-Town: Fringe     41-Rural: Fringe
704    41-Rural: Fringe  22-Suburb: Mid-size
860    41-Rural: Fringe      33-Town: Remote
865    21-Suburb: Large     41-Rural: Fringe
891      13-City: Small    12-City: Mid-size
907    41-Rural: Fringe     32-Town: Distant
922     31-Town: Fringe     41-Rural: Fringe
969    23-Suburb: Small       13-City: Small
987      11-City: Large     21-Suburb: Large
1016   32-Town: Distant     41-Rural: Fringe
1081   23-Suburb: Small       13-City: Small
1085     11-City: Large     21-Suburb: Large
1117   21-Suburb: Large  22-Suburb: Mid-size
1144    31-Town: Fringe     41-Rural: Fringe

In [82]:
df_merge.drop(columns=['Locale 2018-2019', 'State Agency ID'], inplace=True)
df_merge.rename(columns = {'Locale 2020-2021': 'Locale'}, inplace = True)

In [83]:
total_diff_2019 = df_merge['Total Students 2018-2019'] - df_merge['Total Race/Ethnicity 2018-2019']
print(total_diff_2019.value_counts())

0.0    1209
dtype: int64

In [84]:
# total_diff_2021 = df_merge['Total Students 2020-2021'] - df_merge['Total Race/Ethnicity 2020-2021']
# print(total_diff_2021.value_counts())

# df_merge[total_diff_2021==302]

In [85]:
# index_drop = df_merge[total_diff_2021==302].index
# index_drop

In [86]:
# df_merge.drop(index_drop, inplace=True)
# df_merge.info()

In [87]:
df_merge.columns

Index(['Agency Name', 'State', 'NCES Agency ID', 'County #',
       'Total Operational Public Schools 2018-2019',
       'Total Public Schools 2018-2019', 'Total Students 2018-2019',
       'FTE Teachers 2018-2019', 'Total Staff 2018-2019', 'District #',
       'Total Operational Public Schools 2020-2021',
       'Total Public Schools 2020-2021', 'Total Students 2020-2021',
       'FTE Teachers 2020-2021', 'Total Staff 2020-2021', 'Locale',
       'Free Lunch 2020-2021', 'Free Lunch 2018-2019',
       'Reduced-price Lunch 2020-2021', 'Reduced-price Lunch 2018-2019',
       'Asian or Asian/Pacific Islander Students 2020-2021',
       'Asian or Asian/Pacific Islander Students 2018-2019',
       'Hispanic Students 2020-2021', 'Hispanic Students 2018-2019',
       'Black or African American Students 2020-2021',
       'Black or African American Students 2018-2019',
       'White Students 2020-2021', 'White Students 2018-2019',
       'Total Race/Ethnicity 2020-2021', 'Total Race/Ethnicity 2018-2019',
       'School-wide Title I 2020-2021', 'School-wide Title I 2018-2019',
       'Title I Eligible School 2020-2021',
       'Title I Eligible School 2018-2019', 'Grade 3 2020-2021',
       'Grade 3 2018-2019', 'Grade 4 2020-2021', 'Grade 4 2018-2019',
       'Grade 5 2020-2021', 'Grade 5 2018-2019', 'Grade 6 2020-2021',
       'Grade 6 2018-2019', 'Grade 7 2020-2021', 'Grade 7 2018-2019',
       'Grade 8 2020-2021', 'Grade 8 2018-2019', 'Grades 1-8 2020-2021',
       'Grades 1-8 2018-2019', 'Grades 9-12 2020-2021',
       'Grades 9-12 2018-2019', 'Prek 2020-2021', 'Prek 2018-2019',
       'K 2020-2021', 'K 2018-2019', 'Grade 1 2020-2021', 'Grade 1 2018-2019',
       'Grade 2 2020-2021', 'Grade 2 2018-2019', 'Grade 9 2020-2021',
       'Grade 9 2018-2019', 'Grade 10 2020-2021', 'Grade 10 2018-2019',
       'Grade 11 2020-2021', 'Grade 11 2018-2019', 'Grade 12 2020-2021',
       'Grade 12 2018-2019'],
      dtype='object')

In [88]:
temp=[c + ': ' + str(df_merge[c].isna().sum()) for c in df_merge if df_merge[c].isna().any()]
temp

['Total Operational Public Schools 2018-2019: 15',
 'Total Public Schools 2018-2019: 15',
 'Total Students 2018-2019: 16',
 'FTE Teachers 2018-2019: 16',
 'Total Staff 2018-2019: 18',
 'Total Operational Public Schools 2020-2021: 10',
 'Total Public Schools 2020-2021: 10',
 'Total Students 2020-2021: 11',
 'FTE Teachers 2020-2021: 13',
 'Total Staff 2020-2021: 13',
 'Free Lunch 2020-2021: 21',
 'Free Lunch 2018-2019: 21',
 'Reduced-price Lunch 2020-2021: 21',
 'Reduced-price Lunch 2018-2019: 21',
 'Asian or Asian/Pacific Islander Students 2020-2021: 21',
 'Asian or Asian/Pacific Islander Students 2018-2019: 21',
 'Hispanic Students 2020-2021: 21',
 'Hispanic Students 2018-2019: 21',
 'Black or African American Students 2020-2021: 21',
 'Black or African American Students 2018-2019: 21',
 'White Students 2020-2021: 21',
 'White Students 2018-2019: 21',
 'Total Race/Ethnicity 2020-2021: 21',
 'Total Race/Ethnicity 2018-2019: 21',
 'School-wide Title I 2020-2021: 21',
 'School-wide Title I 2018-2019: 21',
 'Title I Eligible School 2020-2021: 21',
 'Title I Eligible School 2018-2019: 21']

In [89]:
print('Shape:', df_merge.shape)
df_merge.to_csv('DATA_NCES_DISTRICT_v3.csv', index = None)

Shape: (1245, 66)