# EDA for Average Daily Attendance Data

***Import libraries:***

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

***Data Reading:***

In [2]:
# read in the csv file
df_d = pd.read_csv('ada_district.csv')

print(df_d.info())
df_d.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407 entries, 0 to 1406
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   County          1407 non-null   int64
 1   County Name     1407 non-null   object
 2   District        1407 non-null   int64
 3   District Name   1407 non-null   object
 4    2004-2005 ADA  1296 non-null   object
 5    2005-2006 ADA  1279 non-null   object
 6    2006-2007 ADA  1296 non-null   object
 7   2007-2008 ADA   1284 non-null   object
 8   2008-2009 ADA   1283 non-null   object
 9    2009-2010 ADA  1285 non-null   object
 10  2010-2011 ADA   1303 non-null   object
 11   2011-2012 ADA  1254 non-null   object
 12   2012-2013 ADA  1260 non-null   object
 13   2013-2014 ADA  1257 non-null   object
 14   2014-2015 ADA  1249 non-null   object
 15   2015-2016 ADA  1238 non-null   object
 16   2016-2017 ADA  1232 non-null   object
 17   2017-2018 ADA  1230 non-null   object
 18   2018-2019 ADA  1230 non-null   object
 19   2019-2020 ADA  1230 non-null   object
 20   2020-2021 ADA  1233 non-null   float64
dtypes: float64(1), int64(2), object(18)
memory usage: 231.0+ KB
None

,County,County Name,District,District Name,2004-2005 ADA,2005-2006 ADA,2006-2007 ADA,2007-2008 ADA,2008-2009 ADA,2009-2010 ADA,...,2011-2012 ADA,2012-2013 ADA,2013-2014 ADA,2014-2015 ADA,2015-2016 ADA,2016-2017 ADA,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,552.28,545.15,544.21,552.32,568.05,591.52,...,568.31,560.13,536.91,558.01,550.33,554.81,548.23,538.51,523.14,515.330
1,1,ANDERSON COUNTY,1903,ELKHART ISD,"1,162.82","1,177.65","1,188.11","1,237.25","1,246.39","1,240.70",...,"1,179.62","1,134.77","1,123.37","1,137.80","1,158.02","1,166.67","1,132.98","1,140.62","1,132.69",1068.994
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,749.50,756.27,744.33,741.36,720.50,707.63,...,697.35,713.24,725.84,748.14,780.15,797.27,797.58,747.92,727.93,688.153
3,1,ANDERSON COUNTY,1906,NECHES ISD,299.04,315.90,335.74,346.37,372.67,360.55,...,391.03,396.75,376.78,358.11,358.75,350.91,327.04,333.22,308.66,311.103
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,"3,112.47","3,175.54","3,143.59","3,039.31","3,022.89","2,999.55",...,"2,979.49","3,052.14","3,018.45","3,110.65","3,134.61","3,185.31","3,138.39","3,147.61","3,008.59",3076.129

In [3]:
cols_old = df_d.columns.to_list()
cols_new = ['County #',
'County Name',
'District #',
'District Name',
'2004-2005 ADA',
'2005-2006 ADA',
'2006-2007 ADA',
'2007-2008 ADA',
'2008-2009 ADA',
'2009-2010 ADA',
'2010-2011 ADA',
'2011-2012 ADA',
'2012-2013 ADA',
'2013-2014 ADA',
'2014-2015 ADA',
'2015-2016 ADA',
'2016-2017 ADA',
'2017-2018 ADA',
'2018-2019 ADA',
'2019-2020 ADA',
'2020-2021 ADA']

df_d.rename(columns=dict(zip(cols_old, cols_new)), inplace=True)

In [4]:
df_d.replace(',', '', regex=True, inplace=True)
df_d[cols_new[4:]] = df_d[cols_new[4:]].astype('float')

In [5]:
cols_keep=['County #',
'District #',
'2018-2019 ADA',
'2019-2020 ADA',
'2020-2021 ADA']

df_d[cols_keep].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407 entries, 0 to 1406
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County #       1407 non-null   int64
 1   District #     1407 non-null   int64
 2   2018-2019 ADA  1230 non-null   float64
 3   2019-2020 ADA  1230 non-null   float64
 4   2020-2021 ADA  1233 non-null   float64
dtypes: float64(3), int64(2)
memory usage: 55.1 KB

In [6]:
temp=[c + ': ' + str(df_d[c].isna().sum()) for c in df_d[cols_keep] if df_d[c].isna().any()]
temp

['2018-2019 ADA: 177', '2019-2020 ADA: 177', '2020-2021 ADA: 174']

In [7]:
df_d.to_csv('DATA_ADA_DISTRICT.csv', index = None)

In [9]:
# read in the csv file
df_c = pd.read_csv('ada_county.csv')

df_c.drop(columns = [' 2004-2005 ADA', \
                    ' 2005-2006 ADA', \
                    ' 2006-2007 ADA', \
                    '2007-2008 ADA', \
                    '2008-2009 ADA', \
                    ' 2009-2010 ADA', \
                    '2010-2011 ADA', \
                    ' 2011-2012 ADA', \
                    ' 2012-2013 ADA', \
                    ' 2013-2014 ADA', \
                    ' 2014-2015 ADA', \
                    ' 2015-2016 ADA', \
                    ' 2016-2017 ADA'], inplace = True)

df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA
0,1,ANDERSON COUNTY,"7,786.97","7,690.77","7,340.51",7213.337
1,2,ANDREWS COUNTY,"3,840.23","4,085.36","4,064.98",4068.126
2,3,ANGELINA COUNTY,"15,973.61","15,763.88","15,282.64",14801.498
3,4,ARANSAS COUNTY,"3,192.18","2,641.35","2,680.59",2681.159
4,5,ARCHER COUNTY,"1,806.48","1,839.82","1,826.43",1884.252
...,...,...,...,...,...,...
248,250,WOOD COUNTY,"5,820.52","5,787.86","5,583.89",5724.323
249,251,YOAKUM COUNTY,"1,995.59","2,024.96","1,966.94",1936.490
250,252,YOUNG COUNTY,"3,062.38","3,098.99","2,859.72",3009.943
251,253,ZAPATA COUNTY,"3,077.73","3,117.64","2,933.07",2961.206
252,254,ZAVALA COUNTY,"2,195.63","2,213.47","2,081.81",2035.699

In [11]:
columns = ['County', 'County Name', 'County #', 'Public Health Region', 'Health Service Region']

cc = pd.read_csv('county_conversion.csv', names = columns, header = 0)

cc.drop(columns = ['Public Health Region', 'Health Service Region', 'County Name'], inplace = True)

cc

     County  County #
0         1     48001
1         2     48003
2         3     48005
3         4     48007
4         5     48009
..      ...       ...
249     250     48499
250     251     48501
251     252     48503
252     253     48505
253     254     48507

[254 rows x 2 columns]

In [12]:
df_c = df_c.merge(cc, how = "inner", on = "County")

In [13]:
df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,County #
0,1,ANDERSON COUNTY,"7,786.97","7,690.77","7,340.51",7213.337,48001
1,2,ANDREWS COUNTY,"3,840.23","4,085.36","4,064.98",4068.126,48003
2,3,ANGELINA COUNTY,"15,973.61","15,763.88","15,282.64",14801.498,48005
3,4,ARANSAS COUNTY,"3,192.18","2,641.35","2,680.59",2681.159,48007
4,5,ARCHER COUNTY,"1,806.48","1,839.82","1,826.43",1884.252,48009
...,...,...,...,...,...,...,...
248,250,WOOD COUNTY,"5,820.52","5,787.86","5,583.89",5724.323,48499
249,251,YOAKUM COUNTY,"1,995.59","2,024.96","1,966.94",1936.490,48501
250,252,YOUNG COUNTY,"3,062.38","3,098.99","2,859.72",3009.943,48503
251,253,ZAPATA COUNTY,"3,077.73","3,117.64","2,933.07",2961.206,48505
252,254,ZAVALA COUNTY,"2,195.63","2,213.47","2,081.81",2035.699,48507

In [14]:
df_c.to_csv('DATA_ADA_COUNTY.csv', index = None)